<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<section class="container-grid d-flex flex-column">
  <div class="row">
    <div class="col-sm-3 menu bg-info d-flex justify-content-center text-xl-end">
      <ul style="list-style: none;">
        <h1 class="text-start text-white">Manú</h1>
        <li><a href="#" class="text-white">Opcion 1</a></li>
        <li><a href="#" class="text-white">Opcion 2</a></li>
        <li><a href="#" class="text-white">Opcion 3</a></li>
        <li><a href="#" class="text-white">Opcion 4</a></li>
        <li><a href="#" class="text-white">Opcion 5</a></li>
        <li><a href="#" class="text-white">Opcion 6</a></li>
        <li><a href="#" class="text-white">Opcion 7</a></li>
      </ul>
    </div>
    <div class="col-sm-9 d-flex flex-column">
      <div class="contenido bg-light d-flex flex-column justify-content-center align-items-center" style="height: 90vh;">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur vero magni, natus amet in impedit placeat nemo animi quibusdam provident aliquid at et a illum ab rerum blanditiis ad tenetur libero beatae asperiores rem eligendi repudiandae dignissimos. Ipsam reprehenderit, consectetur, natus nostrum architecto deleniti dolores vero provident illo enim modi!
        </p>
        <div class="d-flex flex-row align-items-center w-100">
          <svg style="display: block;" class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Responsive image</text></svg>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dicta, iure velit saepe nulla soluta nobis a tempora est dignissimos ipsam molestias expedita exercitationem iusto consequuntur modi repellat error recusandae at labore deserunt cupiditate.
        </p>
      </div>
      <div class="toolbar bg-warning d-flex justify-content-center align-items-center" style="height: 10vh;">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-primary">1</button>
          <button type="button" class="btn btn-outline-primary">2</button>
          <button type="button" class="btn btn-outline-primary">3</button>
        </div>
      </div>
    </div>
  </div>
</section>


